<extend name="Public/base" />

<block name="body">
    <div class="main-title cf">
        <h2>新增直播</h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('Live/create')}" method="post" class="form-horizontal doc-modal-form" enctype="multipart/form-data">
                <!-- 基础 -->
                <div id="tab1" class="tab-pane in tab1">
                    <div class="form-item cf">
                        <label class="item-label">直播名称<span class="check-tips">（请输入直播名称 26字内）</span></label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="activityName" value="">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">直播时间<span class="check-tips">（请选择活动时间）</span></label>
                        <div class="controls">
                            <input type="datetime-local" name="startTime" > ------ <input type="datetime-local" name="endTime">
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">直播封面<span class="check-tips"></span></label>
                        <div class="controls">
                            <input type="file" class=" input-large" name="coverImgUrl" value="coverImgUrl" >
                        </div>
                    </div>
                    <div class="form-item cf">
                        <label class="item-label">直播简介<span class="check-tips">（请输入模型的名称）</span></label>
                        <div class="controls">
                            <textarea class="input-large" rows="6" id="description" name="description"></textarea>
                        </div>
                    </div>

                <!-- 按钮 -->
                <div class="form-item cf">
                    <label class="item-label"></label>
                    <div class="controls edit_sort_btn">
                        <button class="btn submit-btn" type="submit" >确 定</button>
                        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</block>

