<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>作品欣赏</h2>
    </div>

    <div class="cf">
        <a class="btn" href="">上传作品</a>
    </div>
    <form method="post" action="{:U('Video/upload_img')}" enctype="multipart/form-data">
        <input type="file" class="ke-upload-file" name="imgFile" tabindex="-1" style="width: 72px;">
        <input type="submit" value="submit">
    </form>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>上传日期</th>
                    <th>URL</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>

                            <td>{$vo.id}</td>
                            <td>{$vo.date|date}</td>
                            <td>
                               <a href="{$vo.pic_url}">{$vo.pic_url}</a>
                            </td>
                            <td>
                                <a class="confirm ajax-get btn" title="删除" href="{:U('pic_del?id='.$vo['id'])}">删除</a>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
{$_page}
        </div>


    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>